<div id="formwrapper" >
	<div class="jumbotron">
		<h2>Find Your Car Your Way</h2>
		<form class="form-group">
			<div class="form-inline">
				<div class="form-group">
					<label>Make</label>
					<input></input>
				</div>
				<div class="form-group">
					<label>Model</label>
					<input></input>
				</div>
			</div>

			<div class="form-inline">
				<div class="form-group">
					<label>Liters</label>
					<input></input>
				</div>
				<div class="form-group">
					<label>Type</label>
					<input></input>
				</div>
			</div>
		</form>
	</div>	
</div>